<!doctype html>
<html>
<head>
    <title>Tag!</title>
</head>
<body>

  <div id="modal">
      <div class="modalconent">
           <h1></h1>
           <!-- <form method="POST" action="/addPlayer"> -->
  Name: <input id="nametext" name="name" required value={{playerName.name}}>
  <input type="hidden" name="_id" value="{{playerName._id}}">
  <br><br><button  id="namebutton" value="submit">Submit</button>
      </div>
  </div>

<canvas id = "canvas" style="border:1px solid #000"></canvas>
<h1><time>00:00:00</time></h1>
<span id="nameSpan"></span>
<span id="timer"></span>

<button id="gameend">
 Cick to end game
</button>

<h3>Race to the Box!</h3>
<p>Up, Down, Left, Right arrow keys move character.  Be the first to get there</p>


<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/gameSocket.js"></script>
<script src="/javascripts/gameClient.js"></script>
<script src="/javascripts/modals.js"></script>

</body>
</html>

<!-- <h1><time>00:00:00</time></h1> -->
