<!doctype html>
<html>
<head>
    <title>Level2 Test</title>
</head>
<body>
<canvas id = "canvas" style="border:1px solid #000"></canvas>
<h3>Level2 Test</h3>
<p>Level2 Test</p>


<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/gameSocket.js"></script>
<script src="/javascripts/gameClient.js"></script>

</body>
</html>
